<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <style>
        /* Background gif */
        body {
            background-image: url("{% static 'bg1.gif' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            font-size: 16px;
        }

        div {
            background-color: rgba(173, 216, 230, 0.5); /* lightblue with opacity */
        }

    </style>
</head>
<body>

<!-- Custom Navbar -->
<ul>
    <li><a class="active" href="{% url 'dashboard' %}">Welcome, {{ user.username }}</a></li>
    <li><a href="{% url 'view_records' %}">View Medical Records</a></li>
    {% if user.is_doctor %}
        <li><a href="{% url 'upload_record' %}">Upload Medical Record</a></li>
    {% endif %}
    {% if user.wallet_address %}
        <li><a href="{% url 'dashboard' %}">Wallet: {{ user.wallet_address }}</a></li>
    {% endif %}
    <li class="right"><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></li>
    <li class="right"><a href="{% url 'detect_emotion' %}">vid</a></li>
    <li class="right"><a href="{% url 'dashboard' %}?reset=true" class="btn btn-warning">Reset Graphs</a></li>
    <li class="right"><a href="{% url 'upload' %}">File summarize</a></li>
</ul>

<!-- Graphs Section -->
<div class="graph-container">
    <h2>Emotion Analysis</h2>
    <h3>2D Emotion Counts</h3>
    <div>
        {{ graph_html_2d|safe }}
    </div>
    <h3>3D Emotion Counts</h3>
    <div>
        {{ graph_html_3d|safe }}
    </div>
</div>
<script>
    window.onload = function () {
        var graphContainers = document.querySelectorAll('.graph-container');
        graphContainers.forEach(function(container) {
            container.classList.remove('hidden');
        });
    };
</script>

</body>
</html>
