opencv-python-headless
torchaudio
torchvision
torch
mediapipe
cvzone
numpy
plotly
PyPDF2
google-generativeai
tensorflow
keras
djangorestframework
django
psycopg2-binary
dj-database-url
whitenoise[brotli]
gunicorn
uvicorn